<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ÏE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <link rel="stylesheet" href="style.css">
</head>
<body background=
"image1.jpg"
    style="background-repeat: no-repeat; background-size: 40% 100%; background-attachment: fixed; ">
    <h1>Frequently Asked Questions</h1>
    <p class="q1"> >> What is a YouTube video transcript summarizer tool?
    <br />  A YouTube video transcript summarizer tool is a software application or online service that utilizes natural language processing (NLP) and machine learning algorithms to analyze the transcript of a YouTube video. </p>
    <p class="q1"> >> How does it work?
   <br />The tool aims to extract essential information from the transcript and generate a concise summary that captures the main ideas, key topics, and crucial points discussed in the video. This summarization process is intended to provide users with a quick overview of the video's content without the need to watch the entire video.</p>
    <p class="q1"> >> Is the tool free to use?
    <br />
     Yes,it is completely free to use.</p>
     <div class="q1"> >> Do I need to download any software to use the tool?</div>
     <div class="q1"> No,this site is web-based and there is absolutely no need to download any software for the functioning of this site.</div>
     <div class="q1"> >> Can I edit or make changes to the generated summary?</div>
     <div class="q1"> No,it is not possible to make changes to the generated transcript or summary.</div>
     <div class="q1"> >> How long does it take to generate a summary?</div>
     <div class="q1"> It might just take a few seconds for the summary to be generated.</div>
     <div class="q1"> >> Can I share the generated summary with others?</div>
     <div class="q1"> No, there is no provision to share the summary through social media. But, there is an option to save transcripts or summary.</div>
     <div class="q1">>>Can I customize the length or content of the summary?</div>
     <div class="q1">No, currently there are no provisions to customize the length or content of the summary,but it could be added later.</div>







</body>
</html>